[submodule "modules/awesome"]
	path = modules/awesome
	url = https://github.com/WinterSunset95/awesome
[submodule "modules/nvim"]
	path = modules/nvim
	url = https://github.com/WinterSunset95/neovim-mini
[submodule "modules/niri"]
	path = modules/niri
	url = https://github.com/WinterSunset95/niri
